.wrapper {
   background-color: #f1f1f1;
}

.sortInner {
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media (max-width: 500px) {
      flex-direction: column;
      align-items: center;
      padding-top: 15px;
   }
}

.sortBy {
   display: flex;
   align-items: center;
}

.sortByText {
   font-size: 24px;

   @media (max-width: 768px) {
      font-size: 18px;
   }
}
