.wrapper {
   position: relative;
   padding: 142px 0 142px 0;

   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      object-fit: cover;
      object-position: top;
   }
}

.searchContainer {
   position: relative;
}

.searchInput {
   width: 100%;
   background: #000000;
   height: 76px;
   padding: 24px 20px 24px 33px;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   color: #e0e0e0;
   border-radius: 1px;
   border-bottom: 2px solid #e34564;
   margin-bottom: 32px;
}

.searchIcon {
   position: absolute;
   top: 18px;
   right: 24px;
   width: 40px;
   height: 40px;
   background-image: url("../../assets/images/icons/enter.svg");
   cursor: pointer;
}

.settingsSearch {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.buttonSearchBy {
   display: flex;
   align-items: center;
}
