@import "assets/styles/includes/vars";

.wrapper {
   display: flex;
   flex-direction: column;

   &:hover {
      .movieImg {
         filter: brightness(.8);
      }
   }
}

.movieImgWrapper {
   overflow: hidden;
   height: 500px;
   width: 100%;
   cursor: pointer;
}

.movieImg {
   width: 100%;
   height: 100%;
   display: block;
   object-fit: cover;
   transform-origin: center center;
   background-color: rgba($gray, .3);
   transition: all 1s;
}

.describe {
   display: flex;
   justify-content: space-between;
   margin: 15px 0 10px;

   &:last-child {
      margin-top: 0;
      margin-bottom: 0;
   }
}

.movieTitle {
   transition: all .15s;
   cursor: pointer;

   &:hover {
      color: $secondary;
   }
}
